{% include 'partials/header.twig' %}

<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="{{ path_for('home') }}">HP</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="{{ path_for('home') }}">All Projects</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="{{ path_for('development') }}">Development <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ path_for('design') }}">Design</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ path_for('motion') }}">Motion</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ path_for('about_me') }}">About Me</a>
                </li>
            </ul>
        </div>
    </nav>
    <div class="container">
        <div class="projects d-flex justify-content-between flex-wrap">
            {% for _project in projects %}
            <div class="d-flex align-items-center flex-column flex-wrap">
                <a href="{{ path_for('project', { slug: _project.slug }) }}">
                    <img src="{{ _project.img }}" alt="dhdhd">
                </a>
                <p> {{ _project.slug  }} </p>
            </div>
            {% endfor %}
        </div>
    </div>


{% include 'partials/footer.twig' %}