{% include 'partials/header.twig' %}

<body class="bodyProjectPage">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="{{ path_for('home') }}">HP</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="{{ path_for('home') }}">All Projects</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ path_for('development') }}">Development</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ path_for('design') }}">Design</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ path_for('motion') }}">Motion</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ path_for('about_me') }}">About Me</a>
                </li>
            </ul>
        </div>
    </nav>
    <div class="main p-0 m-0 mr-0">
        <div class="projects d-flex justify-content-between flex-wrap">
            {% for _project in projects %}
            <div class="w-100 d-flex align-items-center flex-column flex-wrap">
                 <a class="d-flex justify-content-center" ="{{ _project.links}}"><img class="w-50 h-50" src="../{{ _project.img }}" alt="dhdhd" ></a>
                 <a href="{{ _project.links}}" class="titleProjectPage m-0"> {{ _project.title  }} </a>
                <div class="yearRoleCategory">
                    <p class="yearProjectPage m-0"> {{ _project.year  }} </p>
                    <p class="roleProjectPage m-0"> {{ _project.role  }} </p>
                    <p class="categoryProjectPage m-0"> {{ _project.category  }} </p>
                </div>
                <p class="descriptionProjectPage w-75">{{_project.description}}</p>
            </div>
            {% endfor %}
        </div>
    </div>




{% include 'partials/footer.twig' %}

